/******************* LoginPage *******************/
.login-col {
  border: 1px solid grey;
  border-radius: 0.5em;
  margin: 25vh auto;
}
/******************* MainPage *******************/
.navBar {
  height: 5vh;
  background-color: #8bc6f4;
}

/******************* Profile *******************/
.profile {
  height: 30vh;
  display: flex;
  flex-direction: row;
  background-color: #e6d69a;
}

.photo-ph {
  width: 30%;
}

.photo {
  width: 60%;
  max-width: 300px;
  height: 20vh;
  margin: 5vh auto;
  background-color: red;
}

.acc-ph {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.username-ph {
  margin-top: 5vh;
}

.acc-navbar {
  width: 90%;
  margin-top: 10vh;
  border: 1px solid rgb(3, 15, 14);
}

/******************* MainBody *******************/

.main-body {
  width: 70%;
  margin: auto;
}

.form {
  height: 150px;
  margin: 20px auto;
  position: relative;
}

/******************* Post *******************/
.post {
  background-color: white;
  height: 130px;
  border: 2px solid rgb(154, 38, 189);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
}

.post:hover {
  background: #eee;
}

.post-photo {
  height: 60%;
  width: 78px;
  margin: auto 20px;
  border-radius: 50%;
  background-color: blue;
}

.post-profile {
  width: 70%;
  margin: 10px;
}

.post-name {
  font-weight: 700;
}

.post-content {
  height: 60%;
  margin: 10px auto;
}

/******************* Following *******************/
.following-div {
  width: 70%;
  margin: auto;
}

.post-follow-div {
  width: 70%;
  margin: auto;
}
