/******************* LoginPage *******************/
.login-col {
  border: 1px solid grey;
  border-radius: 0.5em;
  margin: 25vh auto;
}
/******************* MainPage *******************/
.navBar {
  height: 5vh;
  background-color: #8bc6f4;
}

/******************* Profile *******************/
.profile {
  height: 30vh;
  display: flex;
  flex-direction: row;
  background-color: #e6d69a;
}

.photo-ph {
  width: 30%;
}

.photo {
  width: 60%;
  max-width: 300px;
  height: 20vh;
  margin: 5vh auto;
  background-color: red;
}

.acc-ph {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.username-ph {
  margin-top: 5vh;
}

.acc-navbar {
  width: 90%;
  margin-top: 6vh;
  border: 1px solid rgb(3, 15, 14);
}

/******************* MainBody *******************/

.main-body {
  width: 70%;
  margin: auto;
}

.form {
  height: 150px;
  margin: 20px auto;
  position: relative;
}

/******************* Post *******************/
.post {
  background-color: white;
  height: 130px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
}

.post:hover {
  background: #eee;
}

.post-photo {
  height: 60%;
  width: 78px;
  margin: auto 20px;
  border-radius: 50%;
  background-color: blue;
}

.post-profile {
  width: 70%;
  margin: 10px;
}

.post-name {
  margin-top: 10px;
  font-weight: 700;
}

.post-username {
  margin-top: 10px;
  margin-left: 10px;
}

.post-content {
  height: 60%;
  margin: 10px auto;
}

/******************* Following *******************/
.following-div {
  width: 600px;
  margin: auto;
}

/******************* User *******************/
.user-content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

/******************* Setting *******************/
.setting {
  width: 90%;
  margin: 50px auto;
}

.line {
  color: #d070b0;
  background-color: #d070b0;
  height: 2px;
  border-color: #d070b0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.setting-row {
  margin: auto 10px;
  width: 200px;
}

.titleFont {
  font-family: fantasy;
  font-size: 20px;
}

.detailsFont {
  font-family: cursive;
  font-size: 20px;
}

.navFont {
  font-family: fantasy;
}

/******************* Request *******************/
.request-div {
  width: 70%;
  margin: auto;
}

.requestFont {
  margin-top: 30px;
  font-family: cursive;
}
